---
layout: base.njk
---
<div class="container page-content">
  <header class="page-header">
    <h1>{{ title }}</h1>
  </header>
  
  <div class="content flow">
    {{ content | safe }}
  </div>
</div>
